header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3vh auto 15vh;
}


header h1{
    font-size: 4em;
}

header div{
}

@media (max-width:854px) {
    #quote{
        font-size: 50%;
    }
}