header{
    justify-self: center;
    justify-content: center;
    margin-top: 3vh;
    margin-bottom: 15vh;
}

header h1{
    font-size: 4em;
    justify-self: center;
}

@media (max-width:854px) {
    #quote{
        font-size: 50%;
    }
}