@import url("components/progressring.css");
@import url("components/display.css");
@import url("components/button.css");

*{
  margin: 0;
  padding: 0;
}

body{
  background: url("../assets/images/whitebg2.webp");
  background-size: cover;
}